.header__menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-right: 46px;
}

.header__menu-item:last-of-type {
  padding-right: 0;
}

.header__menu-link {
  text-decoration: none;
  color: #FFF;
}

.header__menu-item:hover {
  opacity: 0.8;
  cursor: pointer;
}

.header__menu-link_active {
  background-image: url("../../../../images/header__menu-image.svg");
  background-repeat: no-repeat;
  width: 10px;
  height: 10px;
  margin-top: 5px;
}
