.lead__button {
  width: 212px;
  height: 67px;
  border-radius: 97px;
  color: #FFF;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.805px;
  background: #C97F54;
  border: none;
  padding: 0;
}
